[Unit]
Description=GLib proxy auto-configuration service

[Service]
Type=dbus
BusName=org.gtk.GLib.PACRunner
ExecStart=/usr/lib/glib-networking/glib-pacrunner
