# $Id: openttd.desktop.in 27221 2015-04-07 21:30:04Z frosch $
# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html
[Desktop Entry]
Type=Application
Version=1.0
Name=OpenTTD
Icon=${SNAP}/meta/gui/openttd.png
Exec=openttd
Terminal=false
Categories=Game;
Comment=A clone of Transport Tycoon Deluxe
Keywords=game;simulation;transport;tycoon;deluxe;economics;multiplayer;money;train;ship;bus;truck;aircraft;cargo;
Comment[af]='n Simulasie speletjie wat gebaseer is op Transport Tycoon Deluxe
Comment[af_ZA]='n Simulasie speletjie wat gebaseer is op Transport Tycoon Deluxe
Comment[ar]=نسخة مستنسخة من ترانسبورت تايكون ديلوكس
Comment[ar_EG]=نسخة مستنسخة من ترانسبورت تايكون ديلوكس
Comment[be]=Эканамічны сімулятар на аснове «Transport Tycoon Deluxe»
Comment[be_BY]=Эканамічны сімулятар на аснове «Transport Tycoon Deluxe»
Comment[bg]=Симулативна игра, базирана на Transport Tycoon Deluxe
Comment[bg_BG]=Симулативна игра, базирана на Transport Tycoon Deluxe
Comment[ca]=Un joc de simulació basat en Transport Tycoon Deluxe
Comment[ca_ES]=Un joc de simulació basat en Transport Tycoon Deluxe
Comment[cs]=Simulační hra založená na Transport Tycoon Deluxe
Comment[cs_CZ]=Simulační hra založená na Transport Tycoon Deluxe
Comment[cy]=Gêm efelychu wedi ei seilio ar Transport Tycoon Deluxe
Comment[cy_GB]=Gêm efelychu wedi ei seilio ar Transport Tycoon Deluxe
Comment[da]=Et simulationsspil baseret på Transport Tycoon Deluxe
Comment[da_DK]=Et simulationsspil baseret på Transport Tycoon Deluxe
Comment[de]=Ein auf der Idee von Transport Tycoon Deluxe basierendes Spiel
Comment[de_DE]=Ein auf der Idee von Transport Tycoon Deluxe basierendes Spiel
Comment[el]=Ένα παιχνίδι εξομοίωσης βασισμένο στο Transport Tycoon Deluxe
Comment[el_GR]=Ένα παιχνίδι εξομοίωσης βασισμένο στο Transport Tycoon Deluxe
Comment[en]=A simulation game based on Transport Tycoon Deluxe
Comment[en_AU]=A simulation game based on Transport Tycoon Deluxe
Comment[en_GB]=A simulation game based on Transport Tycoon Deluxe
Comment[en_US]=A simulation game based on Transport Tycoon Deluxe
Comment[eo]=Al simulado ludo bazita sur Transport Tycoon Deluxe
Comment[eo_EO]=Al simulado ludo bazita sur Transport Tycoon Deluxe
Comment[es]=Un juego de simulación basado en Transport Tycoon Deluxe
Comment[es_ES]=Un juego de simulación basado en Transport Tycoon Deluxe
Comment[es_MX]=Un juego de simulación basado en Transport Tycoon Deluxe
Comment[et]=Transport Tycoon Deluxe'il põhinev simulatsioonimäng
Comment[et_EE]=Transport Tycoon Deluxe'il põhinev simulatsioonimäng
Comment[eu]=Transport Tycoon Deluxe-ren simulazio bat
Comment[eu_ES]=Transport Tycoon Deluxe-ren simulazio bat
Comment[fi]=Transport Tycoon Deluxeen pohjautuva simulaatiopeli
Comment[fi_FI]=Transport Tycoon Deluxeen pohjautuva simulaatiopeli
Comment[fo]=Eitt eftirgerðar spæl bygt á Transport Tycoon Deluxe
Comment[fo_FO]=Eitt eftirgerðar spæl bygt á Transport Tycoon Deluxe
Comment[fr]=Un jeu de simulation basé sur Transport Tycoon Deluxe
Comment[fr_FR]=Un jeu de simulation basé sur Transport Tycoon Deluxe
Comment[ga]=Cluiche ionsamhlúcháin bunaithe ar Transport Tycoon Deluxe
Comment[ga_IE]=Cluiche ionsamhlúcháin bunaithe ar Transport Tycoon Deluxe
Comment[gd]=Geama saoghail mas-fhìor stèidhichte air Transport Tycoon Deluxe
Comment[gd_GB]=Geama saoghail mas-fhìor stèidhichte air Transport Tycoon Deluxe
Comment[gl]=Xogo de simulación baseado en Transport Tycoon Deluxe
Comment[gl_ES]=Xogo de simulación baseado en Transport Tycoon Deluxe
Comment[he]=משחק סימולציה המבוסס על תחבורה, הון ופאר
Comment[he_IL]=משחק סימולציה המבוסס על תחבורה, הון ופאר
Comment[hr]=Simulacija na osnovi Transport Tycoon Deluxea
Comment[hr_HR]=Simulacija na osnovi Transport Tycoon Deluxea
Comment[hu]=Transport Tycoon Deluxe alapokon nyugvó szimulációs játék
Comment[hu_HU]=Transport Tycoon Deluxe alapokon nyugvó szimulációs játék
Comment[id]=Permainan simulasi berdasarkan Transport Tycoon Deluxe
Comment[id_ID]=Permainan simulasi berdasarkan Transport Tycoon Deluxe
Comment[is]=Transport Tycoon Deluxe eftirherma
Comment[is_IS]=Transport Tycoon Deluxe eftirherma
Comment[it]=Gioco di simulazione basato su Transport Tycoon Deluxe
Comment[it_IT]=Gioco di simulazione basato su Transport Tycoon Deluxe
Comment[ja]=Transport Tycoon Deluxeを基にしたシミュレーションゲーム
Comment[ja_JP]=Transport Tycoon Deluxeを基にしたシミュレーションゲーム
Comment[ko]=트랜스포트 타이쿤 디럭스를 기반으로 한 시뮬레이션 게임입니다.
Comment[ko_KR]=트랜스포트 타이쿤 디럭스를 기반으로 한 시뮬레이션 게임입니다.
Comment[la]=Ludus computatralis simulatorius cuius fundamentum est Transport Tycoon Deluxe
Comment[la_VA]=Ludus computatralis simulatorius cuius fundamentum est Transport Tycoon Deluxe
Comment[lb]=Eng Simulatioun déi op Transport Tycoon Deluxe baséiert
Comment[lb_LU]=Eng Simulatioun déi op Transport Tycoon Deluxe baséiert
Comment[lt]=Simuliatoriaus žaidimas kurtas pagal Transport Tycoon Deluxe
Comment[lt_LT]=Simuliatoriaus žaidimas kurtas pagal Transport Tycoon Deluxe
Comment[lv]=Uz 'Transport Tycoon Deluxe' balstīta simulācijas spēle
Comment[lv_LV]=Uz 'Transport Tycoon Deluxe' balstīta simulācijas spēle
Comment[ms]=Sebuah permainan simulasi berasaskan Transport Tycoon Deluxe
Comment[ms_MY]=Sebuah permainan simulasi berasaskan Transport Tycoon Deluxe
Comment[nb]=Et simuleringsspill basert på Transport Tycoon Deluxe
Comment[nb_NO]=Et simuleringsspill basert på Transport Tycoon Deluxe
Comment[nl]=Een simulatiespel gebaseerd op Transport Tycoon Deluxe
Comment[nl_NL]=Een simulatiespel gebaseerd op Transport Tycoon Deluxe
Comment[nn]=Eit simulatorspel basert på Transport Tycoon Deluxe
Comment[nn_NO]=Eit simulatorspel basert på Transport Tycoon Deluxe
Comment[pl]=Gra symulacyjna oparta na Transport Tycoon Deluxe
Comment[pl_PL]=Gra symulacyjna oparta na Transport Tycoon Deluxe
Comment[pt]=Um jogo de simulação baseado no Transport Tycoon Deluxe
Comment[pt_BR]=Um jogo de simulação baseado no Transport Tycoon Deluxe
Comment[pt_PT]=Um jogo de simulação baseado no Transport Tycoon Deluxe
Comment[ro]=Un joc de simulare bazat pe Transport Tycoon Deluxe
Comment[ro_RO]=Un joc de simulare bazat pe Transport Tycoon Deluxe
Comment[ru]=Экономический симулятор на основе игры «Transport Tycoon Deluxe»
Comment[ru_RU]=Экономический симулятор на основе игры «Transport Tycoon Deluxe»
Comment[sk]=Simulátor založený na hre Transport Tycoon Deluxe
Comment[sk_SK]=Simulátor založený na hre Transport Tycoon Deluxe
Comment[sl]=Simulacija, temelječa na Transport Tycoonu Deluxe
Comment[sl_SI]=Simulacija, temelječa na Transport Tycoonu Deluxe
Comment[sr]=Simulacija bazirana na igri Transport Tycoon Deluxe
Comment[sr_RS]=Simulacija bazirana na igri Transport Tycoon Deluxe
Comment[sv]=Ett simuleringsspel baserat på Transport Tycoon Deluxe
Comment[sv_SE]=Ett simuleringsspel baserat på Transport Tycoon Deluxe
Comment[ta]=A simulation game based on Transport Tycoon Deluxe
Comment[ta_IN]=A simulation game based on Transport Tycoon Deluxe
Comment[th]=เป็นเกมวางแผนและจำลอง ซึ่งมีต้นฉบับมาจาก Transport Tycoon Deluxe
Comment[th_TH]=เป็นเกมวางแผนและจำลอง ซึ่งมีต้นฉบับมาจาก Transport Tycoon Deluxe
Comment[tr]=Transport Tycoon Deluxe'ü temel alan bir simülasyon oyunu
Comment[tr_TR]=Transport Tycoon Deluxe'ü temel alan bir simülasyon oyunu
Comment[uk]=Гра-симулятор, заснована на Transport Tycoon Deluxe
Comment[uk_UA]=Гра-симулятор, заснована на Transport Tycoon Deluxe
Comment[vi]=Một trò chơi mô phỏng dựa trên Transport Tycoon Deluxe
Comment[vi_VN]=Một trò chơi mô phỏng dựa trên Transport Tycoon Deluxe
Comment[zh]=基于Transport Tycoon Deluxe（运输大亨豪华版）的模拟运营游戏
Comment[zh_CN]=基于Transport Tycoon Deluxe（运输大亨豪华版）的模拟运营游戏
Comment[zh_TW]=基於《運輸大亨豪華版》的運輸模擬遊戲
