/* Fallback Mode Panel */
PanelWidget :backdrop,
PanelApplet :backdrop,
PanelToplevel :backdrop,
PanelWidget,
PanelApplet,
PanelToplevel {
    border-image: none;

    color: @dark_fg_color;
}

PanelWidget,
PanelApplet,
PanelToplevel {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.15)),
                                     to (shade (@dark_bg_color, 0.95)));
}

PanelApplet {
    border-width: 0;
}

PanelSeparator:backdrop,
PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.15)),
                                     to (shade (@dark_bg_color, 0.95)));

    color: @dark_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -PanelMenuBar-icon-visible: true;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.15)),
                                     to (shade (@dark_bg_color, 0.95)));
}

PanelAppletFrame { 
    background-color: @dark_bg_color;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.15)),
                                     to (shade (@dark_bg_color, 0.95)));
    border-width: 0;
}

PanelApplet .button:backdrop,
PanelApplet .button {
    -GtkButton-inner-border: 2;

    border-image: none;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.15)),
                                     to (shade (@dark_bg_color, 0.95)));    
    border-color: alpha (shade (@dark_bg_color, 0.9), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.2), 0.6);
    border-radius: 0;
    border-width: 0 1px 0 1px;

    text-shadow: none;
}

PanelApplet .button:active:prelight:backdrop,
PanelApplet .button:active:prelight,
PanelApplet .button:active:backdrop,
PanelApplet .button:active  {
    border-image: none;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 0.7)),
                                     to (shade (@dark_bg_color, 0.8))); 
    border-color: shade (@dark_bg_color, 0.7);
}

PanelApplet .button:prelight:backdrop,
PanelApplet .button:prelight {
    border-image: none;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.3)),
                                     to (shade (@dark_bg_color, 1.1))); 
    border-color: alpha (shade (@dark_bg_color, 0.9), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.2), 0.8);
}

ClockBox {
    text-shadow: 0 1px shade (@dark_bg_color, 1.08);
}

WnckPager, WnckTasklist {
    background-color: @dark_bg_color;
}
