[Desktop Entry]
Version=1.0
Name=Clock
Name[aa]=Uddur
Name[am]=ሰአት
Name[ar]=الساعة
Name[ast]=Reló
Name[az]=Saat
Name[be]=Гадзіннік
Name[bg]=Часовник
Name[br]=Eurier
Name[bs]=Sat
Name[ca]=Rellotge
Name[ca@valencia]=Rellotge
Name[cs]=Hodiny
Name[cy]=Cloc
Name[da]=Ur
Name[de]=Uhr
Name[el]=Ρολόι
Name[en_AU]=Clock
Name[en_GB]=Clock
Name[es]=Reloj
Name[eu]=Erlojua
Name[fa]=ساعت‌
Name[fi]=Kello
Name[fr]=Horloge
Name[gd]=Cleoc
Name[gl]=Reloxo
Name[he]=שעון
Name[hu]=Óra
Name[id]=Jam
Name[it]=Orologio
Name[km]=នាឡិកា
Name[kn]=ಗಡಿಯಾರ
Name[ko]=시계
Name[ku]=Demjimêr
Name[lv]=Pulkstenis
Name[ms]=Jam
Name[my]=နာရီ
Name[nb]=Klokke
Name[nl]=Klok
Name[pa]=ਘੜੀ
Name[pl]=Zegar
Name[pt]=Relógio
Name[pt_BR]=Relógio
Name[ro]=Ceas
Name[ru]=Часы
Name[shn]=ဢွမ်မူင်း
Name[sk]=Hodiny
Name[sl]=Ura
Name[sr]=Часовник
Name[sv]=Klocka
Name[ta]=கடிகாரம்
Name[tr]=Saat
Name[ug]=سائەت
Name[uk]=Годинник
Name[zh_CN]=时钟
Name[zh_TW]=時鐘
Comment=A sophisticated clock app that provides world clock, alarm and stopwatch functionality.
Comment[am]=ውስብስብ የ ሰአት መተግበሪያ የ አለም ሰአት: መቀስቀሻ እና ሰአት ማስቆሚያ ተግባሮች ያካትታል
Comment[ast]=Una sofisticada app de reló qu'ufre funciones de reló mundial, alarma y cronómetru.
Comment[be]=Прасунуты гадзіннік з функцыяй сусветнага часу, будзільнікам і секундамерам.
Comment[br]=Un arload horolaj eus ar c'hentañ gant ur montr evit ar bed a-bezh, un alarm hag ur c'hronometr.
Comment[bs]=Sofisticirana aplikacija za sat koja pruža pregled svjetskog sata, uz funkcije alarma i štoperice.
Comment[cs]=Důmyslná aplikace Hodiny, která nabízí funkci hodin s různými časovými pásmy, budíku a stopek.
Comment[cy]=Ap cloc soffistigedig sy'n cynnig cloc y byd, larwm a watsh amseru
Comment[da]=En sofistikeret tidsur-app, der tilbyder verdensur, alarmer og stopur.
Comment[de]=Eine durchdachte Uhren-App mit den Funktionen Weltzeit, Wecker und Stoppuhr.
Comment[el]=Μια εκλεπτισμένη εφαρμογή ρολόι που παρέχει λειτουργίες παγκόσμιου ρολογιού, ξυπνητηριού και χρονομέτρου
Comment[en_AU]=A sophisticated clock app that provides world clock, alarm and stopwatch functionality.
Comment[en_GB]=A sophisticated clock app that provides world clock, alarm and stopwatch functionality.
Comment[es]=Una aplicación sofisticada con reloj mundial, alarmas y cronómetro.
Comment[fa]=یک کارهٔ ساعت سطح بالا که قابلیت‌های ساعت جهانی، هشدار و زمان‌سنج را فراهم می‌کند.
Comment[fi]=Kellosovellus, joka tarjoaa maailmankellot, hälytyksen ja sekuntikellon.
Comment[fr]=Une application sophistiquée qui fournit des fonctionnalités d'horloge mondiale, d'alarme et de chronomètre.
Comment[gd]=Aplacaid cleoc thapaidh a bheil uaireadair an t-saoghail, caismeachdan agus stad-uaireadair dhut.
Comment[gl]=Un aplicativo de reloxo sofisticado que proporciona horas de todo o mundo, alarma e cronómetro.
Comment[hu]=Egy óra alkalmazás, mely stopper, ébresztő-, illetve világóra funkciókkal bír.
Comment[id]=Aplikasi jam yang lengkap dengan fungsi jam dunia, alarm, dan stopwatch.
Comment[it]=Un sofisticato orologio che fornisce l'ora da diversi fusi orari e funzionalità di sveglia e cronometro.
Comment[ku]=Sepana demjimêrê ku tê de demjimêra cîhanî, alarm û kronometre heye
Comment[lv]=Gudra pulksteņu lietotne, kas sniedz pasaules pulksteņu, atgādinājumu un hronometra funkcionalitāti.
Comment[ms]=Apl jam canggih yang menyediakan kefungsian jam dunia, penggera dan jam randik.
Comment[nb]=Et avansert klokkeprogram med funksjonalitet for verdens-, vekker- og stoppeklokke.
Comment[nl]=Een uitgekiende klok-app die wereldklok-, alarm- en stopwatchfunctionaliteit biedt.
Comment[pl]=Zaawansowany zegar, z czasami miast z całego świata, budzikiem oraz stoperem.
Comment[pt]=Uma app que fornece um relógio mundial, alarme e cronómetro.
Comment[ru]=Продвинутые часы с функцией мирового времени, будильником и секундомером.
Comment[sk]=Sofistikovaná aplikácia Hodiny, ktorá poskytuje svetový čas, budík a stopky.
Comment[sl]=Prefinjena ura, ki nudi prikaz svetovnih časov, alarm in štoparico.
Comment[sr]=Софистицирана апликација часовника која пружа функције светсог часовника, будилника и штоперице.
Comment[sv]=En sofistikerad klockapp med världsur, alarm och tidtagarfunktionalitet.
Comment[tr]=Dünya saati, alarm ve kronometre işlevselliği sunan gelişmiş saat uygulaması
Comment[uk]=Програма-годинник із розширеними можливостями: часові пояси світу, будильник та секундомір.
Comment[zh_CN]=一个完备世界时、闹铃以及计时功能的时钟应用。
Keywords=time;alarm;alert;clock;world;stopwatch;
Keywords[am]=ሰአት: መቀስቀሻ: ማስጠንቀቂያ: የ አለም ሰአት: ሰአት ማስቆሚያ
Keywords[ast]=hora;alarma;alerta;reló;mundial;cronómetru;
Keywords[be]=час;будзільнік;паведамленне;гадзіннік;сусветны;секундамер;
Keywords[br]=eur,alarm;diwall;horolaj;bed;kronometr;
Keywords[bs]=vrijeme;alarm;uzbuna;sat;svijetski;štoperica;
Keywords[cs]=čas;budík;upozornění;hodiny;svět;stopky;
Keywords[cy]=amser;larwm;rhybudd;cloc;byd;watshamseru;
Keywords[da]=tid;alarm;advarsel;ur;verden;stopur;
Keywords[de]=Zeit;Uhrzeit;time;alarm;Wecker;Weckzeit;alert;Alarm;Erinnerung;clock;Uhr;world;Welt;Weltzeit;stopwatch;Stoppuhr,Stopuhr,Stopp-Uhr;
Keywords[el]=χρόνος;ξυπνητήρι;ειδοποίηση;ρολόι;κόσμος;χρονόμετρο;
Keywords[en_AU]=time;alarm;alert;clock;world;stopwatch;
Keywords[en_GB]=time;alarm;alert;clock;world;stopwatch;
Keywords[es]=hora;alarma;alerta;reloj;mundial;cronómetro;
Keywords[fa]=time;alarm;alert;clock;world;stopwatch;
Keywords[fi]=time;alarm;alert;clock;world;stopwatch;aika;hälytys;herätys;kello;sekuntikello;
Keywords[fr]=heure;alarme;alerte;horloge;monde;chronomètre;
Keywords[gd]=time;alarm;alert;clock;world;stopwatch;ùine;àm;uair;caismeachd;dùsgadh;saoghal;stad-uaireadair;
Keywords[gl]=hora;alarma;alerta;reloxo;mundo;cronómetro;
Keywords[hu]=idő;ébresztés;riasztás;óra;világ;stopper;
Keywords[id]=time;alarm;alert;clock;world;stopwatch;
Keywords[it]=ora;sveglia;allarme;avviso;orologio;cronometro;mondo;
Keywords[ku]=dem;alarm;hişyarî;demjimêr;cîhan;kronometre
Keywords[lv]=laiks;trauksme;atgādinājums;pulkstenis;pasaule;hronometrs;
Keywords[ms]=waktu;penggera;amaran;jam;duni;jamrandik;
Keywords[nb]=tid;alarm;varsel;klokke;verden;stoppeklokke;
Keywords[nl]=tijd;alarm;alertering;klok;wereld;stopwatch;
Keywords[pl]=czas;alarm;budzik;alert;zegar;świat;stoper;
Keywords[pt]=tempo;alarme;alerta;relógio;mundo;cronómetro;
Keywords[ru]=время;будильник;уведомление;часы;мировое;секундомер;
Keywords[sk]=čas;budík;výstraha;hodiny;svet;stopky;
Keywords[sl]=čas;alarm;bujenje;ura;svetovni;štoparica;
Keywords[sr]=време;будилник;упозорење;часовник;свет;штоперица;
Keywords[sv]=tid;alarm;varning;klocka;värld;tidtagning;
Keywords[tr]=zaman;alarm;uyarı;saat;dünya;kronometre
Keywords[uk]=time;alarm;alert;clock;world;stopwatch;час;нагадування;будильник;дзвінок;годинник;світ;секундомір;
Keywords[zh_CN]=time;alarm;alert;clock;world;stopwatch; 时间;闹铃;闹钟;世界时;秒表;
Keywords[zh_TW]=time;alarm;alert;clock;world;stopwatch;時鐘;鬧鐘;鬧鈴;世界;碼表;
Exec=ubuntu-clock-app
Icon=${SNAP}/meta/gui/clock-app@30.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Color=#F5F5F5
X-Ubuntu-Supported-Orientations=portrait
